{% extends "base.html" %}
{% load i18n %}
{% load cart_template_tags %}

{% block content %}

    <div class="container">
        <h3 class='your-cart'>{% trans "Cart" %} ( {{ request|cart_item_count}} )</h3>
    </div>

    {% if order.items.count > 0 %}
    <div class="container">
        <div style="overflow-x: auto;">
            <table>
            <tr>
                <th id='cart_img'>{% trans "Image" %}</th>
                <th>{% trans "Product" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "SubTotal" %}</th>
            </tr>
            {% for item in order.items.all %}
                <tr>
                    <td id="cart-product-image">
                        <img src="{{ item.product.featured.url }}" alt="product image" style="width:100px;height:100px;"> 
                    </td>
                    <td>
                        <div  id="cart-product-image">
                            <span>{{ item.product.title }}</span></br>
                            <span>${{ item.product.get_price }}</span></br>
                            <small>{% trans "Size" %}: {{ item.size.name }}</small>
                            <small>{% trans "Colour" %}: {{ item.colour.name }}</small></br></br>
                            <a id='remove-from-cart' href="{% url 'cart:remove-from-cart' item.id %}">
                                Remove
                            </a>
                        </div>
                    </td>
                    <td class="cart-item-quantity">
                        <a class='item-quantity-link' href="{% url 'cart:decrease-quantity' item.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16"><path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </a>
                        <input type="text" value="{{ item.quantity }}">
                        <a class='increase-quantity item-quantity-link' href="{% url 'cart:increase-quantity' item.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                            </svg>
                        </a>
                    </td>
                    <td>
                        ${{ item.get_total_item_price }}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <div class="container">
        <div id="myDIV1">
            <div  id="cart-subtotal">
                <h4>{% trans "Total" %}<span class='order-get-total'>${{ order.get_total }}</span></h4>
                <a  href="{% url 'cart:checkout' %}" class="Add-to-Cart">{% trans "Proceed to checkout" %}</a>
            </div>
        </div>
    </div>

    {% else %}
    <div class="container no-items-cart">
        {% trans "There are no items in your cart." %}
        <a class='hero-button' href="{% url 'cart:product-list' %}">{% trans "Continue shopping" %}</a>
    </div>
    {% endif %}
{% endblock content %}


















