{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block content %}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="{% url 'cart:summary' %}">{% trans "Cart" %}</a></li>
        <li>{% trans "Checkout" %}</li> 
    </ul>
</div>
{% if not request.user.is_authenticated %}
<div class="container">
            <div class="progress-bar">
                <b>You are nearly finished with your order.
                    To finalize your order, please <a href="{% url 'account_login' %}"><span class="progress-bar-span">{% trans "Login" %}</span></a>{% trans " or" %}  <a href="{% url 'account_signup' %}"><span class="progress-bar-span">{% trans "Signup" %}</span>
                </b>
                </div>
            <div class="progress">
              <div class="bar">90%</div>
            </div>
        </div>
{% else %}
<form method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="flex-container">   
            <div class="flex-item-left">
                {{ form.shipping_address_line_1|as_crispy_field }}
                {{ form.shipping_address_line_2 |as_crispy_field }}
                <div class="form-shipping-address-line">
                    <div class="item1">
                        {{ form.shipping_city |as_crispy_field }}
                    </div>
                    <div class="item2">
                        {{ form.shipping_zip_code|as_crispy_field }}
                    </div>
                </div>
                {{ form.billing_address_line_1|as_crispy_field }}
                {{ form.billing_address_line_2|as_crispy_field }}
                <div class="form-shipping-address-line">
                    <div class="item1">
                        {{ form.billing_city |as_crispy_field }}
                    </div>
                    <div class="item2">
                        {{ form.billing_zip_code|as_crispy_field }}
                    </div>
                </div>
                <button type="submit" class="Add-to-Cart">
                    {% trans "Proceed to payment" %}
                </button> 
            </div>

            <div style="overflow-x:auto;">
                <table>
                    <tr>
                    <th id='cart_img'>{% trans "Cart" %}</th>
                    </tr>
                    {% for item in order.items.all %}
                    <tr>
                        <td id="cart-product-images">
                            <div>
                                <img src="{{ item.product.featured.url }}" alt="product image" style="width:100px;height:100px;"> 
                                <span id="item-quantity">{{item.quantity }}</span>
                            </div> 
                        </td>
                        <td>
                            <div  id="cart-product-image">
                                <span>{{ item.product.title }}</span></br>
                                <span>${{ item.product.get_price }}</span></br>
                                <small>{% trans "Size" %}: {{ item.size.name }}</small></br>
                                <small>{% trans "Colour" %}: {{ item.colour.name }}</small>
                            </div>
                        </td>
                        <td>
                            <span class='item-get-total-item-price'>${{ item.get_total_item_price }}</span></br></br></br></br>
                        </td>
                    </tr>
                    {% endfor %}
        
                </table>
                <div id="myDIV1">
                    <div  id="checkout-total">
                        <h4>{% trans "Total" %}<span class='order-get-total'>${{ order.get_total }}</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}

{% endblock content %}