{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
        <li><a href="{% url 'cart:summary' %}">{% trans "Cart" %}</a></li>
        <li>{% trans "Information" %}</li>
        <li>Payment</li>
        </ul>
</div>
{% if not request.user.is_authenticated %}
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="border p-4 rounded" role="alert">{% trans "You are nearly finished with your order.
                    To finalize your order, please" %}
                     <a>{% trans "Login" %}</a>{% trans "or" %}  <a>{% trans "Signup" %}</a>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90"
                        aria-valuemin="0" aria-valuemax="100">{% trans "90% complete" %}</div>
                </div>
            </div>
        </div>
{% else %}

<div style="overflow-x:auto;">
<form method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="flex-container">
            <div class="menu-checkout">
                <p id='shipping-details'>{% trans "Shipping Details" %}</p>
                <div class="form-shipping-address-line">
                    <div class="item1">
                        {{ form.shipping_address_line_1|as_crispy_field }}
                    </div>
                    <div class="item2">
                        {{ form.billing_address_line_1|as_crispy_field }}
                    </div>
                </div>
                <div class="form-shipping-address-line">
                    <div class="item1">
                        {{ form.shipping_address_line_2 |as_crispy_field }}
                    </div>
                    <div class="item2">
                        {{ form.billing_address_line_2|as_crispy_field }}
                    </div>
                </div>
                <div class="form-shipping-address-line">
                    <div class="item1">
                        {{ form.shipping_city |as_crispy_field }}
                    </div>
                    <div class="item2">
                        {{ form.billing_city|as_crispy_field }}
                    </div>
                </div>
                <div class="form-shipping-address-line">
                    <div class="item1">
                        {{ form.shipping_zip_code|as_crispy_field }}
                    </div>
                    <div class="item2">
                        {{ form.billing_zip_code|as_crispy_field }}
                    </div>
                </div>
                <button type="submit" class="Add-to-Cart">
                    {% trans "Proceed to payment" %}
                </button>      
            </div>
            <div class="main-checkout">
                <table>
                    <tr>
                        <th>{% trans "" %}</th>
                        <th>{% trans "" %}</th>
                    </tr>
                    {% for item in order.items.all %}
                    <tr>
                        <td>
                            <div  id="cart-product-image"><span id="item-quantity">{{item.quantity }}</span>
                                <img src="{{ item.product.featured.url }}" alt="product image" style="width:100px;height:100px;">
                                <p>{{ item.product.title }}</p>
                                <small>{% trans "Size" %}: {{ item.size.name }}</small>
                                <small>{% trans "Colour" %}: {{ item.colour.name }}</small>
                            </div>
                        </td>
                        <td>
                            ${{ item.get_total_item_price }}
                        </td>
                        {% empty %}
                        <td>
                            {% trans "There are no items in your cart." %}
                            <a class='continue-shopping' href="{% url 'cart:product-list' %}">{% trans "Continue shopping" %}</a>
                        </td>
                    </tr>
                    {% endfor %}
        
                </table>
                <div id="myDIV1">
                    <div  id="checkout-total">
                        <h4>{% trans "Total" %}<span class='order-get-total'>${{ order.get_total }}</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
{% endif %}

{% endblock content %}