{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load blog_tags %}
{% block content %}



<div class="container">

  <div class="col newspaper">
    <div class="col product-detail">
        <div class="product-hero">
          <img id="featured" src="{{ product.featured.url }}" alt="Norway" style="width:100%">
          <div class="product-slider" id="slide-wrapper">
            <span id="slideLeft" class='arrow'>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              </svg>
            </span>
            <div id="slider">
              {% for image in product.image_set.all %}
              <img class="thumbnail" src="{{image.imageURL}}">
              {% endfor %}
            </div>
            <span class='arrow' id="slideRight" >
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </span>
          </div>
        </div>
    </div>
    <div class="col product-detail-text">
      <div class=''>
        <h1>{{ product.title }}</h1>
        <div id="custom-review">
          <div class='product'>
            <div class="product-rating" id="product-rating">
              <div class="product-rating" id="product-rating">
                <i class="icon-star{% if product.avaregereview < 1%}-o empty{% endif%}"></i>
                <i class="icon-star{% if product.avaregereview < 2%}-o empty{% endif%}"></i>
                <i class="icon-star{% if product.avaregereview < 3%}-o empty{% endif%}"></i>
                <i class="icon-star{% if product.avaregereview < 4%}-o empty{% endif%}"></i>
                <i class="icon-star{% if product.avaregereview < 5%}-o empty{% endif%}"></i>
                <span>{{ product.avaregereview |stringformat:".2f"}}<span>
              </div>
            </div>
          </div>
          <div class='product'>
            <a href="#tab1">{{ product.countreview}}  {% trans "Review(s) / Add Review" %}</a> 
          </div>
        </div>


          <h3 class='product-detail-price'>US  ${{ product.get_price }}</h3>
          <p class='available-stock'>
            {% trans 'Available stock:' %} {{ product.stock }} {% trans 'Units' %}
          </p>
          {% if product.in_stock %}
          <form method="POST">
            {% csrf_token %}
            <div class="color-size" >
              <a>
                {{ form.colour.label_tag }}
                {{ form.colour|add_class:'form-colour' }}
              </a>

              <a>
                {{ form.size.label_tag }}
              {{ form.size|add_class:'form-size' }} 
              </a>
            </div>
            <div class="quantity" >
              <a>
                {{ form.quantity.label_tag }}
              {{ form.quantity|add_class:'form-quantity'}}
              </a>

                <button type="submit"  class="Add-to-Cart">Add to Cart</button>
            </div>  
          </form>
          {% else %}
          <h5>{% trans 'This item is out of stock' %}</h5>
          {% endif %}          
      </div> 
    </div>
  </div>


  <div class="tabcontent">
    
  </div>
  <div id="myDIV1">
    <div>{{ product.detail|safe }}</div>
  </div>


    <div class="product">
      <div class="product-rating" id="product-rating">
        <i class="icon-star{% if product.avaregereview < 1%}-o empty{% endif%}"></i>
        <i class="icon-star{% if product.avaregereview < 2%}-o empty{% endif%}"></i>
        <i class="icon-star{% if product.avaregereview < 3%}-o empty{% endif%}"></i>
        <i class="icon-star{% if product.avaregereview < 4%}-o empty{% endif%}"></i>
        <i class="icon-star{% if product.avaregereview < 5%}-o empty{% endif%}"></i>
        <span class="product-avaregereview">
          {% trans "Reviews" %} ({{ product.avaregereview |stringformat:".2f"}})
        </span>
      </div>
    </div>
    {% for comment in product.comment_set.all %}
    {% if comment.approved %}
    <div class="review-content">
      <div class="review-rating user-review">
        <i class="icon-star{% if comment.rate < 1 %}-o empty{% endif %}"></i>
        <i class="icon-star{% if comment.rate < 2 %}-o empty{% endif %}"></i>
        <i class="icon-star{% if comment.rate < 3 %}-o empty{% endif %}"></i>
        <i class="icon-star{% if comment.rate < 4 %}-o empty{% endif %}"></i>
        <i class="icon-star{% if comment.rate < 5 %}-o empty{% endif %}"></i>
    </div>
      <img src="{% static 'images/profile/img_avatar2.png' %}" alt="Avatar" style="width:90px">
      <h5 class="comment-subject">{{ comment.subject }}</h5>
      <p>{{ comment.comment }}</p>
      <p><span>Rebecca Flex.</span>{% trans 'Posted on' %} {{ comment.create_at }} </p>
    </div>
    {% endif %}
    {% endfor %}
  <form class="review-form tabcontent" id="Contact"
  action="/cart/addcomment/{{ product.id }}" method="post">
  {% csrf_token %}
  <input type="text" id="fname" name="subject" placeholder="Your subject" required>
  <textarea name="comment"  placeholder="Your review ..." required></textarea>
  <div id="custom-review">
    <div class="product">
      <div class="input-rating">
        <strong class="">{% trans "Please rate" %}: </strong>
        <div class="stars">
            <input type="radio" id="star5" name="rate" value="5" /><label for="star5"></label>
            <input type="radio" id="star4" name="rate" value="4" /><label for="star4"></label>
            <input type="radio" id="star3" name="rate" value="3" /><label for="star3"></label>
            <input type="radio" id="star2" name="rate" value="2" /><label for="star2"></label>
            <input type="radio" id="star1" name="rate" value="1" /><label for="star1"></label>
        </div>
    </div>
    </div>
    <div class="product">
      {% if user.id is not None %}
      <button class="hero-button" type="submit" id="postReview">
        {% trans "Post Review" %}
      </button>
      {% else %}
      {% trans "You must be logged in to post a review" %}
      {% endif %}
    </div>
  </div>
  </form>
  {% show_latest_products %} 













</div>
<script>
  let thumbnails = document.getElementsByClassName('thumbnail')
			let activeImages = document.getElementsByClassName('active')
			for (var i=0; i < thumbnails.length; i++){
				thumbnails[i].addEventListener('mouseover', function(){
					if (activeImages.length > 0){
						activeImages[0].classList.remove('active')
					}
					this.classList.add('active')
					document.getElementById('featured').src = this.src
				})
			}
			const buttonRight = document.getElementById('slideRight');
			const buttonLeft = document.getElementById('slideLeft');
			buttonRight.addEventListener('click', function(){
				document.getElementById('slider').scrollLeft += 180;
		    })
		    buttonLeft.addEventListener('click', function(){
		      document.getElementById('slider').scrollLeft -= 180;
		    })
  function openPage(pageName, elmnt, color) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].style.backgroundColor = "";
    }
    document.getElementById(pageName).style.display = "block";
    elmnt.style.backgroundColor = color;
  }

  function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
{% endblock content %}