{% load i18n %}



  <div class="container">
    <h3 class="titles" >{% trans "You may also want" %}</h3>
    <div class="col products">
      {% for product in latest_products %} 
        <div class="col">
            <div class="card">
              <a href="{{ product.get_absolute_url }}">
                <img src="{{ product.featured.url }}" alt="Denim Jeans" style="width:100%">
                <h1>{{ product.title }}</h1>
                <div class="product-rating" id="product-rating">
                  <i class="icon-star{% if product.avaregereview < 1%}-o empty{% endif%}"></i>
                  <i class="icon-star{% if product.avaregereview < 2%}-o empty{% endif%}"></i>
                  <i class="icon-star{% if product.avaregereview < 3%}-o empty{% endif%}"></i>
                  <i class="icon-star{% if product.avaregereview < 4%}-o empty{% endif%}"></i>
                  <i class="icon-star{% if product.avaregereview < 5%}-o empty{% endif%}"></i>
                </div>
                <p class="price">${{ product.get_price }}</p>
                <button class="hero-button">Add to Cart</button>
              </a>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>  