{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="mb-2">Our Story</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quas omnis iure perferendis tempore et nulla sed neque eligendi. Nemo temporibus omnis neque consequatur illum quae et, laudantium minus nam!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque consectetur a porro natus maiores repellendus nostrum voluptates praesentium. Velit enim quibusdam tenetur nisi eaque veniam debitis, labore modi at!</p>
        </div>
        </div>
    </div>
{% endblock content %}
