{% load static %}
{% load i18n %}



<footer class="container ">
<div class="col-sm-11 mx-auto">
  <div class="row">
    <div class="col-6 col-md">
      <h5 class='text-black' >Connect with us</h5>
      <div class="d-flex justify-content-start mt-3">
        <a class='mr-3' href="#!"><i class="icon-facebook"></i></a>
        <a class='mr-3' href="#!"><i class="icon-twitter"></i></a>
        <a class='mr-3' href="#!"><i class="icon-youtube"></i></a>
      </div>
      <p class="mt-3 text-muted"> Contact Us: hello@drafttop.com</p>
    </div>
    <div class="col-6 col-md">
      <h5 class='text-black'>Shop</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Resource name</a></li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 class='text-black'>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{% url 'about' %}">{% trans "About us" %}</a></li>
        <li><a class="text-muted" href="{% url 'privacy_policy' %}">{% trans "Privacy Notice" %}</a></li>
        <li><a class="text-muted" href="{% url 'shipping_returns' %}">{% trans "Terms of Use" %}</a></li>
        <li><a class="text-muted" href="{% url 'terms_of_use' %}">{% trans "Shipping Notice" %}</a></li>
        <li><a class="text-muted" href="{% url 'faq' %}">{% trans "Faq" %}</a></li>
      </ul>
    </div>
    
    <div class="col-6 col-md">
      <h5 class='text-black'>Subscribe to Newsletter</h5>
      <form action="{% url 'email-list-signup' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Type your email adress here" name="email" >
            <button type="submit" class="submit  mt-2 text-center btn btn-outline-primary">Signup</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</footer>



<div class="blog-footer text-center mb-5">
  <div class="text-center mb-3">
    <ul class="list-inline">
      <li class="list-inline-item visa">
      <a href="#!"><img style:width="100" height="60" src = "{% static 'images/payment-icon/maestro-Six_Revisions.png' %}" alt="LOGO"/></a>
      </li>
      <li class="list-inline-item visa">
      <a href="#!"><img style:width="100" height="60" src = "{% static 'images/payment-icon/paypal-Six_Revisions.png' %}" alt="LOGO"/></a>
      </li>
      <li class="list-inline-item visa">
      <a href="#!"><img style:width="100" height="60" src = "{% static 'images/payment-icon/visa-Six_Revisions.png' %}" alt="LOGO"/></a>
      </li>
      <li class="list-inline-item visa">
      <a href="#!"><img style:width="100" height="60" src = "{% static 'images/payment-icon/western_union-Six_Revisions.png' %}" alt="LOGO"/></a>
      </li>
      <li class="list-inline-item visa">
      <a href="#!"><img style:width="100" height="60" src = "{% static 'images/payment-icon/skrill-Six_Revisions.png' %}" alt="LOGO"/></a>
      </li>
      <li class="list-inline-item visa">
      <a href="#!"><img style:width="100" height="60" src = "{% static 'images/payment-icon/discover-Six_Revisions.png' %}" alt="LOGO"/></a>
      </li>
    </ul>
  </div>
    <a href="#" class='text-primary'>Back to top</a>
</div>