{% load static %}
{% load i18n %}



<div class='bg-light py-5 mt-5'>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md">
          

          <blockquote class="blockquote text-left">
          <a class="navbar-brand-footer text-uppercase mr-0 pt-0 text-decoration-none" href="{% url 'home' %}">ecom</a>
          <footer class="blockquote"><small>© 2021,<cite title="Source Title">Ecom</cite></small></footer>
            <p class="mb-0"><ul class="list-inline">
              <li class="list-inline-item">
                  <img src="{% static 'fonts/bootstrap-icons/paypal-seeklogo.com.svg' %}" alt="paypal icon" width="60" height="30">
              </li>
              <li class="list-inline-item">
                  <img src="{% static 'fonts/bootstrap-icons/ShopPay - Color.svg' %}" alt="ShopPay icon" width="60" height="30">
              </li>
              <li class="list-inline-item">
                  <img src="{% static 'fonts/bootstrap-icons/google-pay-seeklogo.com.svg' %}" alt="google-pay icon" width="60" height="30">
              </li>
          </ul></p>
            
          </blockquote>
      </div>
      {% comment %} <div class="col-6 col-md">
          <h5 class='text-black'>Shop</h5>
          <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>

          {% if request.user.is_authenticated %}
            <li><a class="text-muted" href="#">{% trans "My Profile" %}</a></li>
            <li><a class="text-muted" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
          {% else %}
            <li><a class="text-muted" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
            <li><a class="text-muted" href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
          {% endif %}
          </ul>
      </div> {% endcomment %}
      <div class="col-6 col-md">
          <h5 class='text-black'>Support</h5>

          <ul class="list-unstyled text-small">

            <li class='my-3'>
              <a class="text-muted text-decoration-none" href="{% url 'faq' %}">
                {% trans "FAQs" %}
              </a>
            </li>

            <li class='my-3'>
              <a class="text-muted text-decoration-none" href="{% url 'shipping_returns' %}">
                {% trans "Shipping & Return " %}
              </a>
            </li>

            <li class='my-3'>
              <a class="text-muted text-decoration-none" href="{% url 'privacy_policy' %}">
                {% trans "Privacy policy" %}
              </a>
            </li>
          
            <li class='my-3'>
              <a class="text-muted text-decoration-none" href="{% url 'terms_of_use' %}">
                {% trans "Terms of Use" %}
              </a>
            </li>


            <li class='my-3'>
              <a class="text-muted text-decoration-none" href="{% url 'about' %}">
                {% trans "About us" %}
              </a>
            </li>

          </ul>
      </div>

      <div class="col-6 col-md">
          <h5 class='text-black' >Connect us</h5>
          
          <p class="my-3 text-muted">E-mail:</p>
          <p class="my-3 text-muted">hello@ecomdesign.com</p>
  
      </div>

      <div class="col-6 col-md">
        <h5 class='text-black'>Follow us</h5>
          <div class="d-flex justify-content-start my-3">
          <a class='mr-3 footer-icon' href="#!"></i><img src="{% static 'fonts/bootstrap-icons/facebook.svg' %}" alt="facebook"></a>
          <a class='mr-3 footer-icon' href="#!"><img src="{% static 'fonts/bootstrap-icons/twitter.svg' %}" alt="twitter"></a>
          <a class='mr-3 footer-icon' href="#!"><img src="{% static 'fonts/bootstrap-icons/youtube.svg' %}" alt="youtube"></a>
          </div>
          <a href="#" class='text-primary my-3 text-decoration-none'>Back to top</a>
      </div>
    </div>
  </div>
</div>
