{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<!-- hero products -->
<div class="container">
  <div class="slideshow-container">
      <div class="mySlides fade">
          <div class="col">
              <div class="col">
                  <img src="{% static 'images/image/product_img.png' %}" style="width:100%">
              </div>
          
              <div class="col hero-content">
                  <div class="heroContent">
                      <h1>Produt Title 1</h1>
                      <p>And I'm a Photographer It is a long established fact that a reader will be distracted.</p>
                      <button>Shop Now</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="mySlides fade">
          <div class="col">
              <div class="col">
                  <img src="{% static 'images/image/product_img.png' %}" style="width:100%">
              </div>
          
              <div class="col hero-content">
                  <div class="heroContent">
                      <h1>Produt Title 2</h1>
                      <p>And I'm a Photographer It is a long established fact that a reader will be distracted.</p>
                      <button>Shop Now</button>
                  </div>
              </div>
          </div>            
      </div>
      <div class="mySlides fade">
          <div class="col">
              <div class="col">
                  <img src="{% static 'images/image/product_img.png' %}" style="width:100%">
              </div>
          
              <div class="col hero-content">
                  <div class="heroContent">
                      <h1>Produt Title 3</h1>
                      <p>And I'm a Photographer It is a long established fact that a reader will be distracted.</p>
                      <button>Shop Now</button>
                  </div>
              </div>
          </div>        
      </div>
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <div class="dot-list">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
  </div>
</div>
<!-- end hero products -->

<!-- products -->
<div class="container">
  <h1 class="title" >Products</h1>
  <div class="col product">
      <div class="col">
          <div class="card">
              <img src="{% static 'images/image/product_img.png' %}" alt="Denim Jeans" style="width:100%">
              <h1>Tailored Jeans</h1>
              <p class="price">$19.99</p>
              <p><button>Add to Cart</button></p>
          </div>
      </div>
      <div class="col">
          <div class="card">
              <img src="{% static 'images/image/product_img.png' %}" alt="Denim Jeans" style="width:100%">
              <h1>Tailored Jeans</h1>
              <p class="price">$19.99</p>
              <p><button>Add to Cart</button></p>
          </div>
      </div>
      <div class="col">
          <div class="card">
              <img src="{% static 'images/image/product_img.png' %}" alt="Denim Jeans" style="width:100%">
              <h1>Tailored Jeans</h1>
              <p class="price">$19.99</p>
              <p><button>Add to Cart</button></p>
          </div>
      </div>
  </div>
</div>    
<!-- end products -->
{% endblock content %}