{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<!-- hero products -->
<div class="container">
  <div class="slideshow-container">
    
      {% for product in product %}
        {% if product.is_hero %}
            <div class="mySlides fade">
                <div class="col">
                    <div class="col">
                        <img src="{{ product.featured.url }}" style="width:100%">
                    </div>
                
                    <div class="col hero-content">
                        <a href="{{ product.get_absolute_url }}">
                            <div class="heroContent">
                                <h1>{{ product.title }}</h1>
                                <p>Hi, I'm Mambo.This is a Demo of an ecommerce Website, It can allows people to buy and sell physical goods, services,digital products, process orders and accept payments.</br> Fell free to contact me if you want one of these</p>
                                <button class="hero-button">Shop Now</button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
      {% endfor %}
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <div class="dot-list">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
  </div>
</div>
<!-- end hero products -->

<!-- products -->
<div class="container">
  <h1 class="titles" > Our Products</h1>
  <div class="col products">
    {% for product in product %} 
      <div class="col">
        <div class="card">
          <a href="{{ product.get_absolute_url }}">
            <img src="{{ product.featured.url }}" alt="Denim Jeans" style="width:100%">
            <h1>{{ product.title }}</h1>
            <div class="product-rating" id="product-rating">
              <i class="icon-star{% if product.avaregereview < 1%}-o empty{% endif%}"></i>
              <i class="icon-star{% if product.avaregereview < 2%}-o empty{% endif%}"></i>
              <i class="icon-star{% if product.avaregereview < 3%}-o empty{% endif%}"></i>
              <i class="icon-star{% if product.avaregereview < 4%}-o empty{% endif%}"></i>
              <i class="icon-star{% if product.avaregereview < 5%}-o empty{% endif%}"></i>
            </div>
            <p class="price">${{ product.get_price }}</p>
            <button class="hero-button">Add to Cart</button>
          </a>
        </div>
      </div>
      {% endfor %}
  </div>
</div>    
<!-- end products -->
<script>
let slideIndex = 1;
showSlides(slideIndex);
function plusSlides(n) {
  showSlides(slideIndex += n);
}
function currentSlide(n) {
  showSlides(slideIndex = n);
}
function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>
{% endblock content %}